@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


body {
  max-width: 480px;
  margin: auto;
}


.main-heading {
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}

.bg-container {
    color: white;
    font-family: "Roboto";
    background-image: url('https://d2clawv67efefq.cloudfront.net/ccbp-static-website/todolistbg.png');
    height: 100vh;
}

.card {
    text-align: center;
}

.center {
    font-size: 10px;
    text-decoration: underline;
}

.paragraph {
    text-align: center;
    font-size: 13px;
}

.button {
    color: white;
    background-color: orange;
    height: 35px;
    width: 62px;
    font-size: 15px;
}

.para-graph {
    font-size: 13px;
}

.back-cont{
    background-color: azure;
    background-size: cover;
    text-align: center;
}