@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

body {
  max-width: 480px;
  margin: auto;
}

.heading1 {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 600px;
}

.page-description {
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 12px;
}

.heading2 {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 600px;
}

.image {
    margin: 5px;
}

.video-container {
    width: 98px;
    height: 98px;
    border-radius: 8px;
    margin: 4px;
}

.content-container {
    margin: 20px;
}