@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

body {
  max-width: 480px;
  margin: auto;
}

.bg-container {
    background-color: #0967d219;
    background-size: cover;
    height: 100vh;
    padding: 5px;
}

.content-container {
    background-color: white;
    background-size: cover;
}

.top-text-container {}

.top-text-heading {
    font-size: 17px;
    color: #323f4b;

}

.top-content {
    padding: 10px;
}

.top-button {
    background-color: #0967d2;
    color: white;
    width: 80px;
    height: 28px;
    border-radius: 8px;
    border-width: 0px;
    font-size: 10px;
}

.top-card {
    background-color: #0967d219;
    background-size: cover;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.top-card-heading {
    font-size: 17px;
    color: #323f4b;
}

.top-card-description {
    color: #707070;
    font-size: 10px;
}

.card-text-container {
    padding: 10px;
}

.card-image {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.sub-heading1 {
    font-size: 13px;
    color: #323f4b;
    padding: 10px;
}

.Symptoms-card {
    background-color: #3ebd93;
    border-radius: 8px;
    width: 80px;
    padding: 10px;
    margin: 10px;
}

.Symptoms-card-paragraph {
    color: white;
    font-size: 10px;
    padding: 5px;
    font-family: "Roboto";
    font-weight: 500;
}

.Symptoms-card2 {
    background-color: #e668a7;
    border-radius: 8px;
    width: 80px;
    padding: 10px;
    margin: 8px;
}

.Symptoms-card3 {
    background-color: #a368fc;
    border-radius: 8px;
    width: 80px;
    padding: 10px;
    margin: 8px;
}

.sub-heading2 {
    font-size: 13px;
    color: #323f4b;
    padding: 10px;
}

.video-card {
    background-color: #e12d3919;
    background-size: cover;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.video-card-heading {
    font-size: 17px;
    color: #323f4b;
}

.video-card-description {
    color: #707070;
    font-size: 10px;
}

.video-button {
    background-color: #0967d2;
    color: white;
    width: 80px;
    height: 28px;
    border-radius: 8px;
    border-width: 0px;
    font-size: 10px;
}

.video-card-image {
    width: 50px;
    height: 50px;
    margin: 10px;
}