@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
  max-width: 480px;
  margin: auto;
}

.home-bg-container {
    background-color: #1b1b1b;
    background-size: cover;
    height: 100vh;
    padding: 20px;
}

.home-top-heading {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 25px;
}

.kalaam-home-image {
    width: 120px;
}

.kalaam-home-text-container {
    background-color: #e6f6ff;
    padding: 13px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.kalaam-home-heading {
    color: #183b56;
    font-family: "Bree Serif";
    font-size: 15px;
    font-weight: 500;
}

.kalaam-home-description-1 {
    color: #06070d;
    font-family: "Bree Serif";
    font-size: 13px;
}

.kalaam-home-description-2 {
    color: #183b56;
    font-family: "Bree Serif";
    font-size: 11px;
}

.kalaam-home-button {
    width: 80px;
    height: 30px;
    font-size: 12px;
}

.home-bottom-heading {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 19px;
    padding-top: 5px;
}

.chetan-home-image {
    width: 80px;
}

.chetan-home-heading {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 17px;
}

.chetan-home-description {
    color: #e4e7eb;
    font-family: "Bree Serif";
    font-size: 12px;
}

.chetan-home-text-container {
    padding-left: 10px;
}

.harry-container-home {
    padding-top: 10px;
}

.home-bg-container1 {
    background-color: #1b1b1b;
    background-size: cover;
    padding: 20px;
    text-align: center;
    height: 100vh;
}

.detailed-page-image {
    width: 180px;
}

.detailed-heading {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 25px;
    padding-top: 10px;
}

.detailed-page-description1 {
    color: #9aa5b1;
    font-family: "Bree Serif";
    font-size: 10px;
}

.detailed-page-description2 {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 11px;
    text-align: left;
}

.detailed-button {
    width: 80px;
    height: 30px;
    font-size: 12px;
    margin-left: 7px;
}

.detailed-button1 {
    width: 50px;
    height: 30px;
    font-size: 12px;
}